# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Docker
mongo_data/

# OS
.DS_Store
Thumbs.db

# Test artifacts
test_displays_upload.xlsx

# Logs
*.log
